@page "/locations"
@using BlazorEcommerce.Shared
@using System.Net.Http.Json
@inject HttpClient httpClient
@inject ILocationService LocationService

@if (locations != null)
{
    <div class="container">
        <h1>Location List</h1>
        <MudTable Items="@locations" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info">
            <HeaderContent>
                <MudTh>Name</MudTh>
                <MudTh>Address</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Name">@context.Name</MudTd>
                <MudTd DataLabel="Address">@context.Address</MudTd>
            </RowTemplate>
        </MudTable>
    </div>
}

@if (locations == null)
{
    <div class="container">
         <span>Location List is empty.</span>
    </div>
}

@if (locations != null && locations.Count == 0)
{
    <div class="container">
        <span>Location List is empty.</span>
    </div>
}

@code {
    private List<GetLocationDTO> locations { get; set; }

    protected override async Task OnInitializedAsync()
    {
        locations = await LocationService.GetLocations();
    }
}