body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.table_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0px 10px 0px;
}

    .table_container h1 {
        text-align: center;
    }

    .table_container .pop_container {
        width: 14.5%;
        position: absolute;
        margin: 0 auto;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: black;
    }
