@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <div class="top">
        <NavMenu />
    </div>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>
